*{
  margin: 0 auto;
}

main {
  height: 90vh;
  background-color: #EEEEEE;
}

button {
  text-align: center;
  font-size: 20px;
  width: 49.5%;
  height: 50px;
  border-radius: 10px;
}

fieldset {
  background-color: #EEEEEE;
  border-radius: 5px;
  font-size: 20px;
  width: 760px;
}

legend {
  font-size: 28px;
  font-weight: bold;
}

input {
  font-size: 16px;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

button.submit {
  background-color: #009AFD;
  color: white;
  width: 200px;
}
#canvas {
  height: 300px;
  width: 300px;
}

.main {
  background-image: url("http://i.imgur.com/4rwv5Wv.jpg");
  background-color: red;
  height: 430px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
}

.favorite-image {
  position: absolute;
  left: 0;
  top: 0;
}

.favorite-button {
  background-color: #FFFE03;
  color: black;
}

.make-pic {
  /*background-color: #009AFD;
  color: white;*/
}


.input-form {
  height: 30px;
}

@media (max-width: 800px) {
  main {
    width: 100%;
  }
  /*.input-form {
    transform: translate(0px, -60px);
  }*/
}

@media (max-width: 400px) {
  .main {
    background-color: blue;
  }
}

@media (min-width: 800px) {
  main {
    margin: 0 auto;
    width: 900px;
  }
  .main {
    width: 780px;
  }
  .browse {
    width: 780px;
  }
}
