main {
  width: 800px;
  height: 90vh;
  margin: 10px;
}

#canvas {
  height: 300px;
  width: 300px;
}

.main {
  background-image: url("http://i.imgur.com/4rwv5Wv.jpg");
  background-color: red;
  height: 430px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.test {
  height: 100px;
  width: 100px;
  background-color: red;
}

.favorite-button {
  text-align: center;
  align-self: flex-end;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

.input-form {
  height: 30px;
}

.make-pic {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

@media (max-width: 800px) {
  main {
    width: auto;
  }
  .input-form {
    transform: translate(0px, -60px);
  }
  .main {
    margin-top: 100px;
  }
}

@media (max-width: 400px) {
  .main {
    background-color: blue;
  }
}

@media (min-width: 800px) {
  div.main {
    margin: 0 auto;
  }
}
